body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQrbHiu0PSEOdkQfPYhRRyjC-0inJnkGpU7E3Xz5d-181d5si1EapsnyNziT6-kvldvBBE&usqp=CAU);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h2 {
  color: white;
}


